<%= render partial: "header" %>

<div class='search-result'>
  <div class='result-heading'>
  <% unless @keyword[:category_name_cont].blank? %>
  <%= "『#{@keyword[:category_name_cont]}』の " %>
  <% end %>
  検 索 結 果
  </div>

  <div class='category-name-box'>
    <% @result.each do |r| %>
    <%= link_to category_path(r.id), method: :get, class: "show-link" do %>
    <div class='category-name'>
      <%= r.category_name %>
    </div>
    <% end %>
    <% end %>
  </div>

</div>

<%= render partial: "footer" %>