<%= render partial: "header" %>
<div class='top-contents'>
  <div class='new-cooking-content'>
    <div class='form-title'>お料理に関する詳細編集</div>
    <%= form_with model: @cooking_form, url: cooking_path(@cooking.id), id: 'new_cooking', local: true, method: :patch do |f| %>

    <div class='form'>
      <div class='cooking-name'>
        <div class='form-heading'>
          お料理名
        </div>
        <%= f.text_field :cooking_name, class:'cooking-text', placeholder:'例: ハンバーグ', required: false, value: @cooking.cooking_name, name:'cooking_form[cooking_name]' %>
      </div>
    </div>

    <div class='form'>
      <div class='new-category'>
        <div class='form-heading'>
          カテゴリー
        </div>
        <%= f.text_field :category_name, class:'cooking-text', placeholder:'例: お肉料理', value: @cat1[0]&.category_name , name:'cooking_form[category_name][]', id:'new-cat' %>
        <div id="search-result"></div>
      </div>
      <div class='new-category'>
        <%= f.text_field :category_name, class:'cooking-text', placeholder:'例: お肉料理', value: @cat2[0]&.category_name , name:'cooking_form[category_name][]', id:'new-cat' %>
      </div>
      <div class='new-category'>
        <%= f.text_field :category_name, class:'cooking-text', placeholder:'例: お肉料理', value: @cat3[0]&.category_name , name:'cooking_form[category_name][]', id:'new-cat' %>
      </div>
      <div class='new-category'>
        <%= f.text_field :category_name, class:'cooking-text', placeholder:'例: お肉料理', value: @cat4[0]&.category_name , name:'cooking_form[category_name][]', id:'new-cat' %>
      </div>
      <div class='new-category'>
        <%= f.text_field :category_name, class:'cooking-text', placeholder:'例: お肉料理', value: @cat5[0]&.category_name , name:'cooking_form[category_name][]', id:'new-cat' %>
      </div>
    </div>

    <div class='form'>
      <div class='img-upload'>
        <div class='form-heading'>
          お写真
        </div>
        <div class='previews', id='previews'></div>
        <%= f.label :image, '画像を選択', class:'img-file-btn', for:'cooking_form_image' %>
        <%= f.file_field :image, class:'img-file', name:'cooking_form[image]', id:'cooking_form_image' %>
      </div>
    </div>

    <div class='form-btn-content'>
      <%= f.submit "入力OK!", class:'ok-btn' %>
    </div>
    
    <% end %>
  </div>
</div>
<%= render partial: "footer" %>