<%= render partial: "header" %>
<div class='top-contents'>
  <div class='new-cooking-content'>
    <div class='form-title'>新しいお料理に関する詳細</div>
    <%= form_with model: @cooking_form, url: cookings_path, id: 'new_cooking', local: true do |f| %>

    <% if f.object.errors.any? %>
    <div class="error-alert">
      入力に不備があります！
    </div>
    <% end %>

    <div class='form'>
      <div class='cooking-name'>
        <div class='form-heading'>
          お料理名
        </div>
        <%= f.text_field :cooking_name, class:'cooking-text', placeholder:'例: ハンバーグ' %>
      </div>
    </div>

    <div class='form'>
      <div class='cat'>
        <div class='form-heading'>
          カテゴリー
        </div>
        <%= f.collection_select :category_name, Category.where("(category_name = '主食') OR (category_name = '主菜') OR (category_name = '副菜')"), :category_name, :category_name, {include_blank: "---"}, {class:"select-box", id:'category', name:"cooking_form[category_name][]"} %>
      </div>
    </div>

    <div class='form' , id='form-cat1'>
      <div class='cat' , id='cat1'>
        <div class='form-heading'>
          主食
        </div>
        <%= f.collection_select :category_name, Category.where("(category_name = 'ごはんもの') OR (category_name = 'めん類') OR (category_name = 'パン類')"), :category_name, :category_name, {include_blank: "---"}, {class:"select-box", name:"cooking_form[category_name][]"} %>
      </div>
    </div>

    <div class='form' , id='form-cat2'>
      <div class='cat' , id='cat2'>
        <div class='form-heading'>
          主菜
        </div>
        <%= f.collection_select :category_name, Category.where("(category_name = '和食') OR (category_name = '洋食') OR (category_name = '中華')"), :category_name, :category_name, {include_blank: "---"}, {class:"select-box", name:"cooking_form[category_name][]"} %>
      </div>
    </div>

    <div class='form' , id='form-cat3'>
      <div class='cat' , id='cat3'>
        <div class='form-heading'>
          副菜
        </div>
        <%= f.collection_select :category_name, Category.where("(category_name = 'サラダ・和え物') OR (category_name = 'つけもの・おひたし') OR (category_name = 'みそ汁・スープ')"), :category_name, :category_name, {include_blank: "---"}, {class:"select-box", name:"cooking_form[category_name][]"} %>
      </div>
    </div>

    <div class='form', id='standard'>
      <div class='new-category'>
        <div class='form-heading'>
          新しいカテゴリーを作る
        </div>
        <%= f.text_field :category_name, class:'cooking-text', placeholder:'例: お肉料理', name:'cooking_form[category_name][]',id:'new-cat' %>
        <div class='add-form-btn', id='add-form-btn'>▼+</div>
        <div id="search-result"></div>
      </div>
    </div>

    <div class='form', id='add-form'>
      <div class='new-category'>
        <%= f.text_field :category_name, class:'cooking-text', placeholder:'例: お肉料理', name:'cooking_form[category_name][]',id:'new-cat' %>
      </div>
      <div class='new-category'>
        <%= f.text_field :category_name, class:'cooking-text', placeholder:'例: お肉料理', name:'cooking_form[category_name][]',id:'new-cat' %>
      </div>
    </div>

    <div class='form'>
      <div class='img-upload'>
        <div class='form-heading'>
          お写真
        </div>
        <div class='previews', id='previews'></div>
        <%= f.label :image, '画像を選択', class: 'img-file-btn' %>
        <%= f.file_field :image, class:'img-file' %>
      </div>
    </div>

    <div class='form-btn-content'>
      <%= f.submit "入力OK!", class:'ok-btn' %>
    </div>

    <div class='annotation'>※カテゴリー・画像は後でも追加できます</div>

    <% end %>
  </div>
</div>
<%= render partial: "footer" %>