<%= render partial: "header" %>
<div class='top-contents'>
  <div class='show-cooking-content'>
    <div class='show-heading'>
      <%= @cooking.cooking_name %>
    </div>

    <div class='show-half'>
      <div class='show-left'>
        <div class='cooking-image'>
          <% if @cooking.image.attached? %>
          <%= image_tag @cooking.image, class: 'cooking-frame' %>
          <div class='delete-image'>
            <%= link_to '画像削除', imageDestroy_cooking_path, method: :get, class:'delete-image' %>
          </div>
          <% else %>
          <%= image_tag 'no_image_yoko.jpeg', class: 'cooking-frame' %>
          <% end %>
        </div>

        <div class='ingredient'>
          <div class='ingredient-title'>─ 材料 ─</div>
          <div class='recipe-box'>
            <% if @cooking.recipe.present? %>
            　<%= @cooking.recipe.plate %>人前
            <%= @cooking.recipe.ingredient %>
            <% end %>
          </div>
        </div>
      </div>

      <div class='show-right'>
        <div class='show-recipe'>─ レシピ ─</div>
        <div class='recipe-box'>
          <% if @cooking.recipe.present? %>
          　所要時間　約<%= @cooking.recipe.duration %>分
          <%= @cooking.recipe.process %>
          <% end %>
        </div>
      </div>
    </div>

    <% if current_user.id == @cooking.user_id %>
    <div class='show-cooking-btns'>
      <%= link_to "料理情報を編集する", edit_cooking_path, method: :get, class: 'edit-btn' %>
      <% if @cooking.recipe.present? %>
      <%= link_to "レシピを編集する", edit_cooking_recipes_path(@cooking.id), class: 'recipe-edit-btn' %>
      <% else %>
      <%= link_to "新しくレシピを書く", new_cooking_recipes_path(@cooking.id), class: 'recipe-edit-btn' %>
      <% end %>
      <%= link_to "! この料理を削除する !", cooking_path, method: :delete, class: 'delete-btn' %>
    </div>
    <% end %>

  </div>
</div>
<%= render partial: "footer" %>