<%= render partial: "cookings/header" %>

<div class='mypage-content'>
  <div class='mypage-heading'>
    <%= "#{@user.nickname}さんのマイページ" %>
  </div>

  <div class='cooking-lists'>
    <div class='user-cooking'>
      <%= "#{@user.nickname}さんの作った料理" %>
      <% @user.cookings.each do |cooking| %>
      <%= link_to cooking_path(cooking.id) do %>
      <%= cooking.cooking_name %>
      <% end %>
      <% end %>
    </div>
    <div class='favorites'>
      <%= "#{@user.nickname}さんのお気に入り料理" %>
      <% @favorites.each do |favorite| %>
      <%= link_to cooking_path(favorite.id) do %>
      <%= favorite.cooking_name %>
      <% end %>
      <% end %>
    </div>
  </div>
</div>

<%= render partial: "cookings/footer" %>