<%= render partial: "cookings/header" %>

<div class='mypage-content'>
  <div class='mypage-heading'>
    <%= "#{@user.nickname}さんのマイページ" %>
  </div>

  <div class='cooking-lists'>
    <div class='user-cooking'>
      <div class='list-heading'>
        <%= "#{@user.nickname}さんの作った料理" %>
      </div>
      <ul>
        <% @user.cookings.each do |cooking| %>
        <li>
          <%= link_to cooking_path(cooking.id) do %>
          <%= cooking.cooking_name %>
          <% end %>
        </li>
        <% end %>
      </ul>
    </div>
    <% if current_user == @user %>
    <div class='favorites'>
      <div class='list-heading'>
        <%= "#{@user.nickname}さんのお気に入り料理" %>
      </div>
      <ul>
        <% @favorites.each do |favorite| %>
        <li>
          <%= link_to cooking_path(favorite.id) do %>
          <%= favorite.cooking_name %>
          <% end %>
        </li>
        <% end %>
      </ul>
    </div>
    <% end %>
  </div>
</div>

<%= render partial: "cookings/footer" %>